.cell-type--svg {
  width: 100%;
  height: 100%;
  position: relative;
}

.poly {
  fill: $g2-kevlar;
}

.poly.fade {
  opacity: 0.5;
}

.chart-line {
  fill: none;
  stroke: $g2-kevlar;
  stroke-linecap: round;
  stroke-linejoin: round;
}