.dashboard-card:hover .dash-graph-context {
  opacity: 1;
}

.dashboard-card-menu--button {
  background-color: transparent;
  border: transparent;
  color: $g11-sidewalk;
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

.dashboard-card-menu--button:hover {
  background-color: $g5-pepper;
  color: $g20-white;
}