/*
  Dashboard Deck Styles
  ------------------------------------------------------------------------------
*/

.dashboard-deck {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}