/*
  Dashboard Preview Styles
  ------------------------------------------------------------------------------
*/

.dashboard-preview {
  width: 178px;
  height: 150px;
  margin-right: 10px;
  flex-shrink: 0;
  background-color: $g2-kevlar;
  border-radius: $radius;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .dashboard-preview--layout {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(12, 12px);
    grid-template-rows: repeat(10, 12px);

    .dashboard-preview--cell {
      background-color: $g5-pepper;
      border-radius: 2px;
      padding: 5px;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .cell-type {
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .cell-type.gauge {
        background-image: url('../../assets/images/cell_type_gauge.svg');
      }

      .cell-type.single-stat {
        width: 80%;
        height: 80%;
        background-image: url('../../assets/images/cell_type_single_stat.svg');
      }
    }
  }

  .dashboard-preview--no-cells {
    align-self: center;
    color: $g5-pepper;
    font-weight: 600;
  }
}