/*
  Dashboard Card Styles
  ------------------------------------------------------------------------------
*/

.dashboard-card {
  padding: $ix-marg-a;
  width: 50%;
  min-width: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  position: relative;
  
  .dashboard-card--container {
    position: relative;
    display: inline-flex;
    min-width: 100%;
    padding: 10px;
    background-color: $g3-castle;
    border-radius: $radius;
  }
}

.dashboard-card--content {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dashboard-card--header {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-bottom: $ix-marg-b;

  .dashboard-card--owner {
    background-color: $g0-obsidian;
    margin-right: 10px;
  }
}

.dashboard-card--description {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;

  p {
    margin: 0;
  }
}

.dashboard-card--tags {
  margin-top: $ix-marg-c;

  .tag-flag {
    background-color: aqua;
    font-size: $ix-text-tiny;
    color: $g0-obsidian;
    font-weight: 600;
    margin-right: 2px;
    padding: 0 $ix-marg-a;
    border-radius: $ix-radius-sm;
  }
}

.dashboard-card--footer {
  margin-top: $ix-marg-c;
  font-size: $ix-text-tiny;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: $g7-graphite;
  flex-shrink: 0;

  .dashboard-card--status {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;

    .dashboard-card--status-indicator {
      background-color: $c-curacao;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      display: inline-block;
      margin-left: 5px; 
    }
    
    .dashboard-card--status-indicator.status-connected {
      background-color: $c-rainforest;
    }
  }

  .dashboard-card--modified {
    font-weight: 600;
    font-style: italic;
    margin-left: 10px; 
  }
}